/* * {
    outline: dotted 1px white;
} */
body {
    height: 600px;
    background-image: radial-gradient(#3b3b3b, #282828, black);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HEADER */
h1 {
    animation: pulsate 0.11s ease-in-out infinite alternate;
    color: #fff;
    font-family: 'Neonderthaw', cursive;
    font-weight: lighter;
    font-size: 5.5em;
    max-height: fit-content;
    text-align: center;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FF10F0,
    0 0 82px #FF10F0,
    0 0 92px #FF10F0,
    0 0 102px #FF10F0,
    0 0 151px #FF10F0;
    border: .2rem solid #fff;
    border-radius: 2rem;
    margin: .3em;
    padding: .3em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #FF10F0,
              0 0 0.8rem #FF10F0,
              0 0 2.8rem #FF10F0,
              inset 0 0 1.3rem #FF10F0;
}
/* HEADER ANIMATION */
@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #FF10F0,
        0 0 80px #FF10F0,
        0 0 90px #FF10F0,
        0 0 100px #FF10F0,
        0 0 150px #FF10F0;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #FF10F0,
        0 0 73px #FF10F0,
        0 0 80px #FF10F0,
        0 0 94px #FF10F0,
        0 0 140px #FF10F0;
    }
  }
/* BUTTON ICONS */
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
    width: 80%;
}

button {
    background-color: transparent; 
    border: none;
    font-size: 5em;
    font-weight: lighter;
    text-align: center;
}

i[class*=fa-regular]::before{
    background:transparent;
 } 
/* not sure this works */



 /* NEON EFFECT ON BUTTON ICONS */
 .fa-hand-back-fist {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #9D00FF,
    0 0 82px #9D00FF,
    0 0 92px #9D00FF,
    0 0 102px #9D00FF,
    0 0 151px #9D00FF;   
 }

 .fa-hand {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FFF01F,
    0 0 82px #FFF01F,
    0 0 92px #FFF01F,
    0 0 102px #FFF01F,
    0 0 151px #FFF01F;
 }

 .fa-hand-scissors {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #04d9ff,
    0 0 82px #04d9ff,
    0 0 92px #04d9ff,
    0 0 102px #04d9ff,
    0 0 151px #04d9ff;
 }


 #result {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2em;
    text-align: center;
    border: .2rem solid #fff;
    border-radius: 2rem;
    margin:1em;
    padding: .4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #FF10F0,
              0 0 0.8rem #FF10F0,
              0 0 2.8rem #FF10F0,
              inset 0 0 1.3rem #FF10F0;
 }

footer {
    font-family: Verdana;
    font-size: .7em;
}

a {
    text-decoration: none;
    color: #a6a6a6;
}

 /* MOBILE STYLE */
 @media only screen and (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
  }